<div class='flex-col ai-center fade-in--fast'>

    <div id='route-title'>Inputs</div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Input Elements
            </div>
            <div class='content-div__content'>

                <h2>Introduction</h2>
                <p>Define input variables in the styles/_variables.scss file.</p>

                <p>Inputs' styles are completely reset by {{globals.githubStylesNormalizeLink}} and {{globals.githubStylesResetLink}}.</p>
                <p>Input styling variables are defined in the {{globals.githubStylesVariablesLink}} file and applied in the {{globals.githubStylesInputsLink}} file.</p>
                <p>Customize your buttons by first editing the variables in styles/_variables.scss and then editing inputs.scss for fine grained control.</p>
                <p>Below is how each element looks with the current style definitions.</p>

                <h2 class='mt40'>Default Input</h2>
                {{show-code code="<Input @placeholder='Text input ...' />"}}
                <h3>Result</h3>
                <p><Input @placeholder='Text input ...' /></p>

                <h2 class='mt40'>Medium Width</h2>
                {{show-code code="<Input class='input--med-width' @placeholder='Text input ...' />"}}
                <h3>Result</h3>
                <p><Input class='input--med-width' @placeholder='Text input ...' /></p>

                <h2 class='mt40'>Small Width</h2>
                {{show-code code="<Input class='input--small-width' @placeholder='Input..' />"}}
                <h3>Result</h3>
                <p><Input class='input--small-width' @placeholder='Input..' /></p>

                <h2 class='mt40'>Disabled</h2>
                {{show-code code="<Input disabled=true @placeholder='Disabled ...' />"}}
                <h3>Result</h3>
                <p><Input disabled=true @placeholder='Disabled ...' /></p>

                <h2 class='mt40'>Labeled Inputs</h2>
                {{show-code code="<div class='input__labeled-div'>
  <div class='input__labeled--label'>Full Name*</div>
  <div class='input-div'>
    <Input @placeholder='Text input ...' />
  </div>
</div>"}}
                <h3>Result</h3>
                <p>
                    <div class='input__labeled-div'>
                        <div class='input__labeled--label'>Full Name*</div>
                        <div class='input-div'>
                            <Input @placeholder='Text input ...' />
                        </div>
                    </div>
                </p>

            </div>
        </div>

        {{!-- ------------------------------------------------------------ --}}
        {{!-- {{date-picker}} not working with Ember 3.15.0 right now.  Will try to fix at some point. --}}
        {{!-- <div class='content-div-wrapper'>
            <div class='content-div--right'>
                <div class='content-div'>
                    <div class='content-div__title'>
                        Date Ranges
                    </div>
                    <div class='content-div__content'>
                        <h2>Introduction</h2>
                        <p>The date picker helper is part of the {{globals.dateComponentsLink}} addon.</p>
                        <p>If you install Date Components make sure to also install it's dependency: {{globals.emberMomentLink}} (which is in itself very useful).</p>
                        <p>See {{globals.dateComponentsGuideLink}} for more options.</p>
                        {{show-code code="{{date-picker
  range=true
  options=datePickerOptions
action=(action 'setDateRange')}}"}}
                        <h3>Result</h3>
                        <p>
                            {{date-picker
                                range=true
                                options=datePickerOptions
                                action=(action 'setDateRange')}}
                            {{date-picker action=(action 'setDateRange')}}
                        </p>
                    </div>
                </div>
            </div>
        </div> --}}
        {{!-- ------------------------------------------------------------ --}}

    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                PowerSelect
            </div>
            <div class='content-div__content'>
                <h2>Introduction</h2>
                <p>The {{globals.emberPowerSelectLink}} addon provides a slick select input drop down.</p>
                <p>Below are a couple of simple examples.</p>
                <p>See the {{globals.emberPowerSelectDocsLink}} docs for all options, use cases, and more code examples.</p>
                <h2 class='mt40'>Enabled</h2>
                {{show-code code="<PowerSelect
  @searchEnabled={{true}}
  @options={{powerSelectOptions}}
  @selected={{powerSelectSelected}}
  @onChange={{action (mut powerSelectSelected)}}
  @@placeholder='Select ...'
  as |k|>
  {{k}}
</PowerSelect>"}}
                <h3>Result</h3>
                <p class='width-50pct'>
                    <PowerSelect
                        @searchEnabled=true
                        @options={{powerSelectOptions}}
                        @selected={{powerSelectSelected}}
                        @onChange={{action (mut powerSelectSelected)}}
                        @@placeholder='Select ...'
                        as |k|>
                        {{k}}
                    </PowerSelect>
                </p>
                <h2 class='mt40'>Disabled</h2>
                {{show-code code="<PowerSelect
  @disabled=true
  @searchEnabled=true
  @options={{powerSelectOptions}}
  @selected={{powerSelectSelected}}
  @onChange={{action (mut powerSelectSelected)}}
  @@placeholder='Select ...'
  as |k|>
  {{k}}
</PowerSelect>"}}
                <h3>Result</h3>
                <p class='width-50pct'>
                    <PowerSelect
                        @disabled=true
                        @searchEnabled=true
                        @options={{powerSelectOptions}}
                        @selected={{powerSelectSelected}}
                        @onChange={{action (mut powerSelectSelected)}}
                        @@placeholder='Select ...'
                        as |k|>
                        {{k}}
                    </PowerSelect>
                </p>
            </div>
        </div>
    </div>

</div>
